/* CSS Document */
.player{
	position: absolute;
	top:0px;
	width: 900px;
	height: 82px;
	min-width: 900px;
	left: 50%;
	margin-left: -450px;
	/*background-color: aquamarine;*/
}
.mp3-player-img{
	position: absolute;
	top: 1px;
	width: 78px;
	height: 79px;
	left: 1px;
}
.player-img-style{
	position: absolute;
	top: 0px;
	width: 78px;
    height: 78px;
    border-radius: 39px;
}
.mp3-player-control{
	position: absolute;
	top: 0px;
	width: 810px;
	height: 80px;
	right: 2px;
}
.player-title{
	position: absolute;
	top: 5px;
	left: 0px;
	width: 250px;
	height: 50px;
}
.player-name-text{
	display: block;
	position: absolute;
	top:3px;
	line-height: 22px;
	text-align:left;
	width:250px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.player-singer-text{
	display: block;
	position: absolute;
	top:25px;
	line-height: 22px;
	text-align:left;
	width:250px;
	font-size: 12px;
	color: #888888;
}
.player-control-play{
	position:absolute;
	top: 5px;
	left: 255px;
	height: 48px;
	width: 180px;
}
.player-pre:hover,.player-next:hover{
	filter:contrast(150%);
	cursor: pointer;
}
.pre-circle{
	position:absolute;
	left:0px;
	top:6px;
	width: 28px;
	height: 28px;
	border: solid 2px #999999;
	border-radius: 17px;
}
.play-circle{
	position:absolute;
	left:50%;
	top:3px;
	width: 35px;
	height: 35px;
	border: solid 3px #999999;
	border-radius: 21px;
	margin-left: -21px;
}
.next-circle{
	position:absolute;
	right: 0px;
	top: 6px;
	width: 28px;
	height: 28px;
	border: solid 2px #999999;
	border-radius: 17px;
}

.pre-ico{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -11px;
	margin-top: -11px;
}
.play-ico{
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -12px;
	margin-top: -15px;
}
.next-ico{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -10px;
	margin-top: -11px;
}
.ico-action:hover{
	filter: invert(28%) sepia(88%) saturate(7498%) hue-rotate(313deg) brightness(102%) contrast(109%);
	cursor: pointer;
}
.ico-action:active{
	filter: invert(42%) sepia(90%) saturate(1080%) hue-rotate(180deg) brightness(106%) contrast(101%);
}
.player-controller{
	position:absolute;
	bottom: 1px;
	left: 5px;
	height: 25px;
	width: 680px;	
}
.used-time{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 25px;
	font-size: 14px;
	color: #AAAAAA;
}
.controller-all{
	position:absolute;
	top: 5px;
	left:43px;
	height: 9px;
	background-color: black;
	border-bottom: solid 1px #666666;
	border-radius: 4px;
	margin-left: 3px;
	margin-right: 3px;
}
.controller-all:hover{
	cursor:pointer;
}
.run{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1%;
	height: 100%;
	border-radius: 4px;
	background-color: red;
}
.controller-cur{
	position:absolute;
	top: -3px;
	right: -11px;
	width: 6px;
	height: 6px;
	background-color: red;
	border: solid 5px white;
	border-radius: 10px;
}
.all-time{
	position:absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 25px;
	font-size: 14px;
	color: #AAAAAA;
}
.player-volue{
	position:absolute;
	bottom: 1px;
	right: 1px;
	height: 25px;
	width: 120px;
}
.volue-img{
	position: absolute;
	top:0px;
	left:0px;
}
.volue-controller{
	position: absolute;
	top:6px;
	left:32px;
	height: 6px;
	border-radius: 4px;
	background-color: black;
	border-bottom: solid 1px #666666;
}
.volue-controller:hover{
	cursor:pointer;
}
.volue-run{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1%;
	height: 100%;
	border-radius: 4px;
	background-color: red;
}
.volue-controller-cur{
	position: absolute;
	top: -3px;
	right: -6px;
	width: 4px;
	height: 4px;
	background-color: red;
	border: solid 4px white;
	border-radius: 6px;
}

.lists{
	position:absolute;
	top: 10px;
	right: 30px;
	height: 32px;
	width: 100px;
}
.play-list{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 26px;
	height: 26px;
	background-image: url("/img/playerlist.png");
}
.play-list:hover{
	cursor: pointer;
	background-image: url("/img/playerlistSelected.png")
}
.collect-list{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 32px;
	height: 32px;
	background-image: url("/img/collectList.png");
}
.collect-list:hover{
	cursor: pointer;
	background-image: url("/img/collectListSelected.png");
}

.play-list-content{
	position: absolute;
	bottom: 40px;
	right: 50px;
	width: 600px;
	height: 350px;
	border-style: solid;
	border-radius: 10px 10px 0 0;
	display: none;
}
.play-list-content img{
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
}
.play-list-content-top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: black;
}
.play-list-title{
	position: absolute;
	top:0px;
	left: 10px;
	width: 70px;
	height: 100%;
	line-height: 30px;
	color: white;
}
.rearrange-button{
	position: absolute;
	top:0px;
	right: 100px;
	width: 90px;
	height: 100%;
	line-height: 30px;
	color: white;
	background-image: url("/img/playListRearrange.png");
	background-size:25px 25px;
	background-repeat: no-repeat;
}
.play-list-gedang{
	position: absolute;
	top:0px;
	right: 95px;
	width: 3px;
	height: 25px;
	line-height: 25px;
	color: white;
}
.clear-play-list{
	position: absolute;
	top:0px;
	right: 0px;
	width: 95px;
	height: 100%;
	line-height: 30px;
	color: white;
	background-image: url("/img/clearPlayList.png");
	background-size:23px 23px;
	background-repeat: no-repeat;
}
.clear-play-list:hover{
	color: red;
	background-image: url("/img/clearPlayListSelect.png");
	cursor: pointer;
}
.play-list-data{
	position: absolute;
	top: 30px;
	left: 0px;
	width: 590px;
	height: 320px;
	overflow: hidden;
}
.play-list-row{
	position: relative;
	top:0px;
	left:0px;
	width: 100%;
	height: 28px;
	margin-bottom: 2px;
	
}
.play-list-play-status{
	position: absolute;
	top: -2px;
	left:0px;
	width: 28px;
	height:28px;
	line-height: 28px;
	font-size: 28px;
	color: red;
}
.play-list-mouseon{
	background-color: black;
	opacity:0.5;
}
.play-list-songName{
	position: absolute;
	top: 0px;
	left: 30px;
	width: 298px;
	height: 100%;
	line-height: 28px;
	font-size: 15px;
	color: white;
	overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.play-list-singer{
	position: absolute;
	top: 0px;
	right: 55px;
	width: 100px;
	height: 100%;
	line-height: 28px;
	font-size: 15px;
	color: white;
	overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.play-list-time{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 100%;
	line-height: 28px;
	font-size: 15px;
	color: white;
}
.play-list-selected-view{
	position: absolute;
	top: 0px;
	right: 170px;
	width: 92px;
	height: 100%;
	display: none;
}
.play-list-selected{
	position: relative;
	display: inline-block;
	top: 0px;
	left:0px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}
.play-list-selected-collect{
	background-image: url("/img/playListCollect.png");
}
.play-list-selected-collect:hover{
	cursor: pointer;
	background-image: url("/img/playListCollectSelect.png");
}
.play-list-selected-download{
	background-image: url("/img/playListDownload.png");
}
.play-list-selected-download:hover{
	cursor: pointer;
	background-image: url("/img/playListDownloadSelect.png");
}
.play-list-selected-remove{
	background-image: url("/img/playListRemove.png");
}
.play-list-selected-remove:hover{
	cursor: pointer;
	background-image: url("/img/playListRemoveSelect.png");
}
.play-list-rearrange{
	position: absolute;
	top: 0px;
	right: 170px;
	width: 60px;
	height: 100%;
	display: none;
}
.play-list-up-down{
	position: relative;
	display: inline-block;
	top: 0px;
	left:0px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
}
.play-list-up{
	background-image: url("/img/playListUp.png");
}
.play-list-up:hover{
	cursor: pointer;
	background-image: url("/img/playListUpSelect.png");
}
.play-list-down{
	background-image: url("/img/playListDown.png");
}
.play-list-down:hover{
	cursor: pointer;
	background-image: url("/img/playListDownSelect.png");
}

.scroll-bar-div{
	position: absolute;
	top: 30px;
	right: 0px;
	width: 10px;
	background-color: black;
	border-radius: 10px;
}
.scroll-bar{
	position: absolute;
	right:0px;
	width: 8px;
	background-color: rgb(109, 109, 109);
	border-radius: 10px;
}
.scroll-bar:hover{
	background-color: rgb(197, 197, 197);
	cursor: pointer;
}
.play-list-data-all{
	position: absolute;
	left:0px;
	width: 100%;
}
.play-list-empty{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 320px;
	line-height: 320px;
	font-size: 15px;
	text-align: center;
	color: white;
}